/* SERVICES */

#services-wrapper {
  display: flex;
  justify-content: space-around;
 
}

#services li {
  list-style-type:none;
  line-height: 1.5em;
}

#services li:before{
  font:normal normal normal 14px/1 FontAwesome;
  content:'\f058';
  color:green;
}

.service {
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
  
  .fa-service-icon{
    z-index:200;
  }
}
