/* SERVICES */
#services {
  list-style-type: none; }
  #services .inner-wrapper {
    padding: 20px 0; }
    #services .inner-wrapper #services-wrapper {
      width: 50%;
      margin: 0 auto;
      padding: 25px 0; }
      #services .inner-wrapper #services-wrapper .card {
        min-height: 350px;
        padding: 20px 0;
        margin-top: 0; }
        #services .inner-wrapper #services-wrapper .card .header {
          padding: 20px 0; }
      #services .inner-wrapper #services-wrapper ul {
        text-align: left; }
        #services .inner-wrapper #services-wrapper ul li {
          line-height: 150%; }
  @media screen and (max-width: 800px) {
    #services {
      list-style-type: none; }
      #services .inner-wrapper {
        padding: 25px 0; }
        #services .inner-wrapper #services-wrapper {
          flex-direction: column;
          justify-content: center;
          width: 85%; }
          #services .inner-wrapper #services-wrapper .ui.card {
            margin: 25px auto; }
        #services .inner-wrapper ul {
          text-align: left; }
          #services .inner-wrapper ul li {
            line-height: 150%; } }
