/* SERVICES */
#services {
  padding: 3em 0; }
  #services #services li {
    list-style-type: none;
    line-height: 1.5em; }
    #services #services li::before {
      font: normal normal normal 14px/1 FontAwesome;
      content: '\f058';
      color: green; }
  #services .service {
    width: 25%; }
    #services .service .fa-service-icon {
      z-index: 200; }
  @media screen and (max-width: 700px) {
    #services #services-wrapper {
      flex-direction: column; }
      #services #services-wrapper .service {
        width: auto; } }
