/* SERVICES */
#services{
    // padding: 5em 0;
    i.fa-check{color:green!important;
      padding:3px;
      // width:8px;
    }
    
   
  #services {
    list-style-type:none;
    &::before{
      font:normal normal normal 14px/1 FontAwesome;
      content:'\f058';
      color:green;
    }
  }

  .service {
    padding: 50px 25px;
    width: 25%;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    ul{padding-top:20px;}
  }

  @media screen and (max-width:800px){
    #services-wrapper{
        display:flex;
      flex-direction:row;

    }
    
  }

  @media screen and (max-width:700px){
    #services-wrapper{
      flex-direction:column;
      .service{
        width:auto;
      }
    }
  }
}
