


@import './variables.scss';

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root .app {
  margin:0;
  font-family: 'open-sans', helvetica;
  background-image:url('/images/bg.jpg');
  background-size: cover;
  background-position: center bottom;
  background-attachment:fixed;
  line-height: 1.75;
}
ul, li {
  margin-left:0;
  padding-left:0;
}
a {
  color:white;
}
p {
  margin:0;
  padding:0;
}
section {
  background:$white;
}

h1 {
    background: $secondary;
    color: $white;
    text-align:center;
    padding: .75em 0;
}

.flex {
  display: flex;
}
.around {
  justify-content: space-around;
}
.flex-1{
  flex:1;
}

.hamburger{ display: none; }

@import './animation.scss';
@import './fontello.scss';
@import '../components/header/header.scss';
@import '../components/gallery/gallery.scss';
@import '../components/services/services.scss';
@import '../components/contact/contact.scss';
@import '../components/about/about.scss';
@import '../components/testimonials/testimonials.scss';
