@charset "UTF-8";
.fa-service-icon {
  background: #1A5273;
  height: 75px;
  width: 75px;
  line-height: 75px;
  font-size: 40px;
  color: white;
  border-radius: 100px;
  text-align: center;
  box-shadow: inset 0px 0px 0px 0px white; }

.fa-service-icon:hover {
  animation: .75s serviceAnimate ease-in; }

@keyframes serviceAnimate {
  0% {
    transform: rotate(0deg);
    background: #1A5273;
    font-size: 40px;
    box-shadow: inset 0px 0px 0px 0px white; }
  50% {
    transform: rotate(360deg);
    font-size: 70px;
    background: #3F6E8A;
    box-shadow: inset 0px 0px 0px 2px white; }
  100% {
    transform: rotate(360deg);
    font-size: 40px;
    background: #3F6E8A;
    box-shadow: inset 0px 0px 0px 0px white; } }

@font-face {
  font-family: 'fontello';
  src: url("./fonts/fontello.eot?95273478");
  src: url("./fonts/fontello.eot?95273478#iefix") format("embedded-opentype"), url("./fonts/fontello.woff2?95273478") format("woff2"), url("./fonts/fontello.woff?95273478") format("woff"), url("./fonts/fontello.ttf?95273478") format("truetype"), url("./fonts/fontello.svg?95273478#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?95273478#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before, #services li:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-angular:before {
  content: '\e800'; }

/* 'î €' */
.icon-bootstrap:before {
  content: '\e801'; }

/* 'î ' */
.icon-couchdb:before {
  content: '\e802'; }

/* 'î ‚' */
.icon-d3:before {
  content: '\e803'; }

/* 'î ƒ' */
.icon-jquery:before {
  content: '\e804'; }

/* 'î „' */
.icon-mongodb:before {
  content: '\e805'; }

/* 'î …' */
.icon-nodejs:before {
  content: '\e806'; }

/* 'î †' */
.icon-php:before {
  content: '\e807'; }

/* 'î ‡' */
.icon-pouchdb:before {
  content: '\e808'; }

/* 'î ˆ' */
.icon-wordpress:before {
  content: '\e809'; }

/* 'î ‰' */
.icon-woocomerce:before {
  content: '\e80a'; }

/* 'î Š' */
.icon-music:before {
  content: '\e80b'; }

/* 'î ‹' */
.icon-websockets:before {
  content: '\e80c'; }

/* 'î Œ' */
.icon-ionic:before {
  content: '\e80d'; }

/* 'î ' */
.icon-chat:before {
  content: '\e80e'; }

/* 'î Ž' */
.icon-responsive:before {
  content: '\e810'; }

/* 'î ' */
.icon-coldfusion:before {
  content: '\e811'; }

/* 'î ‘' */
.icon-mssql:before {
  content: '\e812'; }

/* 'î ’' */
.icon-paypal:before {
  content: '\e813'; }

/* 'î “' */
.icon-wp-plugin-icon:before {
  content: '\e815'; }

/* 'î •' */
.icon-html5:before {
  content: '\e816'; }

/* 'î –' */
.icon-buddypress_logo:before {
  content: '\e818'; }

/* 'î ˜' */
.icon-mobile:before {
  content: '\f10b'; }

/* 'ï„‹' */
.icon-css3:before {
  content: '\f13c'; }

/* 'ï„¼' */
.icon-youtube:before {
  content: '\f167'; }

/* 'ï…§' */
.icon-youtube-play:before {
  content: '\f16a'; }

/* 'ï…ª' */
.icon-apple:before {
  content: '\f179'; }

/* 'ï…¹' */
.icon-android:before {
  content: '\f17b'; }

/* 'ï…»' */
.icon-database:before {
  content: '\f1c0'; }

/* 'ï‡€' */
.icon-map-o:before {
  content: '\f278'; }

/* 'ï‰¸' */
/* respectfully taken from https://codepen.io/ramenhog/pen/MpORPa */
#gallery .project-url a {
  color: #26262a; }

#gallery .grid {
  display: grid;
  position: relative;
  margin: 1em 0;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* columns keet auto-generated based on available free space */
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  /*https://css-tricks.com/snippets/css/complete-guide-grid/#article-header-id-23*/ }
  #gallery .grid .item--medium {
    grid-row-end: span 2; }
  #gallery .grid .item--large {
    grid-row-end: span 3; }
  #gallery .grid .item--full {
    grid-column-end: auto; }
  #gallery .grid .item {
    position: relative;
    /* so the overlay is positioned relative to this */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transition: 1s all; }
    #gallery .grid .item .overlay {
      display: none;
      position: absolute;
      width: 100%;
      bottom: 0%;
      min-height: 25%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: 1s all;
      background: #212124 !important;
      border-bottom: 2px solid white;
      transition: 1s all; }
      #gallery .grid .item .overlay h3 {
        color: white;
        font-weight: 300;
        text-transform: uppercase; }
    #gallery .grid .item:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
      transition: all 0.3s ease-in-out; }
    #gallery .grid .item:hover {
      transition: 1s all;
      transform: scale(1.05);
      /* creates "zoom" effect when you rollover item */ }
    #gallery .grid .item img {
      object-fit: cover;
      /* try playing with this property: 'contain', 'fill', 'cover' */
      height: 100%;
      /* helps image fit inside of its parent */ }

#gallery .invisible {
  visibility: hidden; }

#gallery .item:hover::after {
  /* creates "bright" effect when you rollover item */
  opacity: 0; }

#gallery .item:hover .overlay {
  display: flex;
  color: #26262a; }

#gallery #da-thumbs li a div span {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -10px 0 rgba(255, 255, 255, 0.3);
  margin: 40px 20px 20px;
  padding: 10px 0; }

@media screen and (max-width: 800px) {
  #gallery #testimonials .slick-slider {
    width: 85% !important; } }

@media screen and (min-width: 768px) {
  #gallery .item--full {
    grid-column: 1/-1;
    /* ensures it spans the whole thing */
    grid-row-end: span 2; } }

.projectModal {
  color: #26262a;
  display: grid !important;
  grid-template-rows: repeat(3, minmax(50px, auto));
  grid-template-columns: 59% 39%;
  justify-content: space-between;
  font-size: 14px;
  grid-gap: 10px;
  background: #fff;
  grid-template-areas: "a a" "b c" "d d"; }
  .projectModal h2, .projectModal h3 {
    font-weight: 300; }
  .projectModal ul li,
  .projectModal p {
    line-height: 2em; }
  .projectModal a {
    color: #2185d0;
    font-style: normal;
    font-size: 12px; }
  .projectModal div {
    padding: 5px; }
  .projectModal .project-header {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .projectModal .project-header h2 {
      margin: 0;
      color: #1C3738; }
    .projectModal .project-header .project-icons {
      display: flex;
      justify-content: center; }
      .projectModal .project-header .project-icons i {
        color: #2185d0; }
      .projectModal .project-header .project-icons span {
        margin: 0 5px; }
      .projectModal .project-header .project-icons i {
        text-align: center; }
      .projectModal .project-header .project-icons > span {
        text-align: center; }
      .projectModal .project-header .project-icons span.tag-label {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: .65em;
        margin: 0 .25em; }
        .projectModal .project-header .project-icons span.tag-label:before {
          display: inline-block;
          width: 1.5em; }
        .projectModal .project-header .project-icons span.tag-label.tag-label {
          Font-Family: 'Open Sans', Sans-Serif;
          padding-top: 5px; }
  .projectModal .project-description {
    grid-area: b; }
    .projectModal .project-description .project-images {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .projectModal .project-description .project-images img {
        width: 100px;
        height: 100px;
        margin: 5px 15px;
        object-fit: cover; }
  .projectModal .project-visit {
    font-size: 16px;
    margin: 25px auto;
    grid-area: d;
    text-align: center;
    width: 100%; }
    .projectModal .project-visit a {
      font-size: 12px; }

.project-specifics {
  position: relative;
  text-align: right;
  padding: 25px !important;
  grid-area: c;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(205, 205, 205, 0.2); }
  .project-specifics ul li {
    font-weight: 300;
    list-style: none;
    direction: rtl;
    list-style-position: inside;
    list-style-position: unset !important; }
    .project-specifics ul li i {
      color: #2185d0;
      position: absolute;
      right: 0px; }

.dialog > div > div > div, .dialog > div {
  overflow-y: scroll !important; }

.dialog > div > div > div > div {
  min-height: 80vh;
  max-height: none !important; }

@media screen and (max-width: 800px) {
  .projectModal {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "a"  "b" "c"  "d"; }
    .projectModal .project-overview {
      order: 2; }
    .projectModal .project-description {
      order: 1; } }

#portfolio-menu {
  font-weight: 300;
  width: 100%;
  padding: 0 .25em;
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  margin: 3em auto;
  padding: .1em 0; }
  #portfolio-menu .filter-preset, #portfolio-menu .filters {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Cantarell" !important; }
    #portfolio-menu .filter-preset i, #portfolio-menu .filters i {
      margin-right: 5px; }
    #portfolio-menu .filter-preset .active, #portfolio-menu .filters .active {
      background: #2185d0;
      color: #fff; }
  #portfolio-menu .toggle {
    width: auto !important; }

@media screen and (max-width: 800px) {
  #portfolio-menu {
    width: 100%;
    height: auto; }
    #portfolio-menu .menu {
      flex-direction: column; }
    #portfolio-menu .filters {
      flex-wrap: wrap; }
      #portfolio-menu .filters button {
        flex: 1; } }

/* 768px / 16px = 48em */
#about {
  text-align: center; }
  #about .about {
    display: flex;
    flex-direction: row; }
    #about .about .about-text {
      text-align: left;
      align-self: stretch; }
    #about .about img {
      width: 300px;
      height: 400px;
      object-fit: cover; }
  @media only screen and (max-width: 48em) {
    #about h1 {
      display: flex;
      flex-direction: column;
      text-align: center; }
      #about h1 span {
        margin-left: 0; }
    #about .card.about {
      width: 90%;
      flex-direction: column; }
      #about .card.about .about-text {
        padding: 0 10px; } }

/* TESTIMONIALS */
#testimonials {
  color: #324343;
  font-size: 1.15em; }
  #testimonials img.avatar {
    border-radius: 100px; }
  #testimonials .slick-slider {
    width: 50%;
    margin: 50px auto; }

@media screen and (max-width: 800px) {
  #testimonials .slick-slider {
    width: 85% !important; } }

blockquote.testimonial {
  padding: 1em 2em;
  font-style: italic;
  border-radius: .5em;
  font-weight: normal;
  flex: 1;
  text-align: center; }
  blockquote.testimonial footer {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    blockquote.testimonial footer a {
      color: #2185d0;
      font-style: normal;
      font-size: 12px; }
    blockquote.testimonial footer div {
      display: flex;
      align-items: center;
      margin-bottom: 15px; }
    blockquote.testimonial footer img {
      max-width: 75px;
      max-height: 75px; }
  blockquote.testimonial i {
    font-size: 150%;
    padding-right: 3px;
    color: #cdcdcd; }
  blockquote.testimonial blockquote::first-letter {
    font-size: 150%; }
  blockquote.testimonial footer {
    justify-content: center; }
    blockquote.testimonial footer cite {
      font-style: normal;
      font-weight: bold;
      padding: 1em;
      display: inline-block; }
    blockquote.testimonial footer cite::before {
      content: "- "; }

.vertical-timeline {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important; }
  .vertical-timeline .vertical-timeline-element-date {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-weight: 300 !important; }
  .vertical-timeline hr {
    margin: 15px 0; }
  .vertical-timeline .logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 25px; }
  .vertical-timeline .vertical-timeline-element-role {
    font-weight: 300;
    margin: 5px 0;
    padding-top: 5px; }
  .vertical-timeline .logo {
    max-height: 70px; }
  .vertical-timeline::before {
    background: #2185d0; }
  .vertical-timeline .technologies {
    border-top: 1px solid gray;
    margin-top: 20px;
    padding-top: 10px; }
    .vertical-timeline .technologies ul {
      display: flex; }
      .vertical-timeline .technologies ul li {
        padding-right: 15px;
        font-size: 20px; }

.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  color: #1A5273;
  background: #1A5273 !important; }
  .vertical-timeline-element-icon i {
    font-size: 36px; }

.vertical-timeline-element .vertical-timeline-element-content {
  box-shadow: none; }

.vertical-timeline-element:nth-of-type(even) .vertical-timeline-element-date {
  right: 135% !important; }

.vertical-timeline-element:nth-of-type(odd) .vertical-timeline-element-date {
  left: 135% !important; }

.vertical-timeline-element .vertical-timeline-element-date {
  top: -8px !important; }

.vertical-timeline-element-content.bounce-in span {
  Font-Family: 'Ubuntu', Sans-Serif;
  font-weight: 800;
  font-size: 18px !important; }

body {
  font-family: "Montserrat", sans-serif !important; }

h1, h2, h3, h4, h5, p {
  font-family: "Montserrat", sans-serif !important; }

h1 {
  font-weight: 700; }

h2 {
  font-size: .4em;
  font-weight: 400; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

img {
  max-width: 100%; }

.card {
  font-family: "Montserrat", sans-serif !important; }

.section-header-wrapper {
  align-items: center;
  padding: 1em;
  font-size: 2.75em;
  font-weight: 800;
  background: #212124;
  color: white;
  letter-spacing: 5px;
  text-align: center; }

.inner-content-wrapper {
  padding: 50px 10% 15px; }

.button {
  background: #2185d0 !important;
  color: white !important; }

.cta-container .button {
  margin: 20px 0 10px; }

.flex {
  display: flex; }
