@charset "UTF-8";
.fa-service-icon {
  background: #1A5273;
  height: 75px;
  width: 75px;
  line-height: 75px;
  font-size: 40px;
  color: white;
  border-radius: 100px;
  text-align: center;
  box-shadow: inset 0px 0px 0px 0px white; }

.fa-service-icon:hover {
  animation: .75s serviceAnimate ease-in; }

@keyframes serviceAnimate {
  0% {
    transform: rotate(0deg);
    background: #1A5273;
    font-size: 40px;
    box-shadow: inset 0px 0px 0px 0px white; }
  50% {
    transform: rotate(360deg);
    font-size: 70px;
    background: #3F6E8A;
    box-shadow: inset 0px 0px 0px 2px white; }
  100% {
    transform: rotate(360deg);
    font-size: 40px;
    background: #3F6E8A;
    box-shadow: inset 0px 0px 0px 0px white; } }

@font-face {
  font-family: 'fontello';
  src: url("./fonts/fontello.eot?95273478");
  src: url("./fonts/fontello.eot?95273478#iefix") format("embedded-opentype"), url("./fonts/fontello.woff2?95273478") format("woff2"), url("./fonts/fontello.woff?95273478") format("woff"), url("./fonts/fontello.ttf?95273478") format("truetype"), url("./fonts/fontello.svg?95273478#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?95273478#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before, #services li:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-angular:before {
  content: '\e800'; }

/* 'î €' */
.icon-bootstrap:before {
  content: '\e801'; }

/* 'î ' */
.icon-couchdb:before {
  content: '\e802'; }

/* 'î ‚' */
.icon-d3:before {
  content: '\e803'; }

/* 'î ƒ' */
.icon-jquery:before {
  content: '\e804'; }

/* 'î „' */
.icon-mongodb:before {
  content: '\e805'; }

/* 'î …' */
.icon-nodejs:before {
  content: '\e806'; }

/* 'î †' */
.icon-php:before {
  content: '\e807'; }

/* 'î ‡' */
.icon-pouchdb:before {
  content: '\e808'; }

/* 'î ˆ' */
.icon-wordpress:before {
  content: '\e809'; }

/* 'î ‰' */
.icon-woocomerce:before {
  content: '\e80a'; }

/* 'î Š' */
.icon-music:before {
  content: '\e80b'; }

/* 'î ‹' */
.icon-websockets:before {
  content: '\e80c'; }

/* 'î Œ' */
.icon-ionic:before {
  content: '\e80d'; }

/* 'î ' */
.icon-chat:before {
  content: '\e80e'; }

/* 'î Ž' */
.icon-responsive:before {
  content: '\e810'; }

/* 'î ' */
.icon-coldfusion:before {
  content: '\e811'; }

/* 'î ‘' */
.icon-mssql:before {
  content: '\e812'; }

/* 'î ’' */
.icon-paypal:before {
  content: '\e813'; }

/* 'î “' */
.icon-wp-plugin-icon:before {
  content: '\e815'; }

/* 'î •' */
.icon-html5:before {
  content: '\e816'; }

/* 'î –' */
.icon-buddypress_logo:before {
  content: '\e818'; }

/* 'î ˜' */
.icon-mobile:before {
  content: '\f10b'; }

/* 'ï„‹' */
.icon-css3:before {
  content: '\f13c'; }

/* 'ï„¼' */
.icon-youtube:before {
  content: '\f167'; }

/* 'ï…§' */
.icon-youtube-play:before {
  content: '\f16a'; }

/* 'ï…ª' */
.icon-apple:before {
  content: '\f179'; }

/* 'ï…¹' */
.icon-android:before {
  content: '\f17b'; }

/* 'ï…»' */
.icon-database:before {
  content: '\f1c0'; }

/* 'ï‡€' */
.icon-map-o:before {
  content: '\f278'; }

/* 'ï‰¸' */
.header {
  align-items: center;
  justify-content: space-around;
  display: flex;
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: .5em 1em;
  background: #000F08 !important;
  color: #fff;
  grid-area: header; }
  .header .hamburger {
    display: none; }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #18121E;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    background: #fff;
    padding: 1em;
    font-size: 1em;
    border-radius: 10em; }
  .header .inner-wrapper, .header header nav {
    flex: 1; }
  .header nav ul {
    margin: 0;
    padding: 0; }
    .header nav ul li {
      list-style-type: none;
      flex: 1;
      text-align: center;
      margin: 2px; }
      .header nav ul li a {
        text-decoration: none;
        padding: 10px 2em;
        border-radius: 2px;
        color: #fff;
        transition: .25s background; }
        .header nav ul li a:hover, .header nav ul li a.active {
          text-decoration: none;
          cursor: pointer;
          color: #fff;
          background: #1D5372; }

@media screen and (max-width: 780px) {
  header {
    flex-direction: column;
    display: block; }
    header .hamburger {
      color: #233237;
      display: block;
      text-align: right;
      font-weight: 700;
      font-size: 1.5em; }
      header .hamburger:hover {
        cursor: pointer; }
    header .logo-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around; }
      header .logo-container .logo {
        flex: none; }
    header .inner-wrapper {
      width: 100%;
      display: flex;
      align-items: center; }
    header nav {
      padding-top: .95em;
      height: 0;
      overflow: hidden;
      transition: .5s all;
      background: #fff;
      width: 100%; }
      header nav ul {
        display: flex;
        flex-direction: column; }
        header nav ul li, header nav ul a {
          display: inline-block;
          width: 100%;
          font-size: 1.2em; }
      header nav.open {
        height: 15em; }
  header .logo, header .hamburger {
    flex: 1; } }

/* respectfully taken from https://codepen.io/ramenhog/pen/MpORPa */
.project-url a {
  color: #233237; }

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* columns keet auto-generated based on available free space */
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  /*https://css-tricks.com/snippets/css/complete-guide-grid/#article-header-id-23*/ }
  .grid .item--medium {
    grid-row-end: span 2; }
  .grid .item--large {
    grid-row-end: span 3; }
  .grid .item--full {
    grid-column-end: auto; }
  .grid .item {
    position: relative;
    /* so the overlay is positioned relative to this */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transition: 1s all; }
    .grid .item:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
      transition: all 0.3s ease-in-out; }
    .grid .item:hover {
      transform: scale(1.05);
      /* creates "zoom" effect when you rollover item */ }
    .grid .item img {
      object-fit: cover;
      /* try playing with this property: 'contain', 'fill', 'cover' */
      height: 100%;
      /* helps image fit inside of its parent */ }

.invisible {
  visibility: hidden; }

.item:hover::after {
  /* creates "bright" effect when you rollover item */
  opacity: 0; }

.overlay {
  display: none;
  position: absolute;
  background: white;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  min-height: 25%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .overlay .tag-set {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }

.item:hover .overlay {
  display: flex;
  color: #233237; }

#da-thumbs li a div span {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -10px 0 rgba(255, 255, 255, 0.3);
  margin: 40px 20px 20px;
  padding: 10px 0; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    /* ensures it spans the whole thing */
    grid-row-end: span 2; } }

.projectModal {
  display: grid !important;
  grid-template-rows: repeat(3, minmax(50px, auto));
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  grid-gap: 10px;
  background: #fff;
  grid-template-areas: "a a" "b c" "d d"; }
  .projectModal div {
    padding: 5px; }
  .projectModal .project-header {
    background-color: #233237;
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .projectModal .project-header h2 {
      margin: 0;
      color: #1C3738; }
    .projectModal .project-header .project-icons {
      display: flex;
      justify-content: center;
      color: gray; }
      .projectModal .project-header .project-icons span {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: .65em;
        margin: 0 .25em; }
        .projectModal .project-header .project-icons span:before {
          display: inline-block;
          width: 1.5em; }
  .projectModal .project-description {
    grid-area: b; }
    .projectModal .project-description .project-images {
      display: flex;
      flex-wrap: wrap; }
      .projectModal .project-description .project-images img {
        width: 100px;
        height: 100px;
        margin: 5px;
        object-fit: cover; }
  .projectModal .project-details {
    grid-area: c; }
  .projectModal .project-visit {
    margin: 0 auto;
    grid-area: d;
    text-align: center;
    width: 100%;
    background: #f3f3f3; }

.project-details li {
  padding: .4em .25em; }

.project-details li:nth-of-type(even) {
  background: rgba(24, 18, 30, 0.1); }

@media screen and (max-width: 800px) {
  .modal .project-overview {
    order: 2; }
  .modal .project-description {
    order: 1; }
  .modal .description .flex {
    flex-wrap: wrap;
    flex-direction: column; }
  .modal .description section:first-of-type {
    flex-direction: row;
    width: 100%; }
    .modal .description section:first-of-type div {
      flex: 1; }
  .modal .description section:last-of-type {
    width: 100%; } }

#portfolio-filters {
  font-weight: 300;
  width: 75%;
  margin: 0 auto;
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 0; }
  #portfolio-filters div {
    font-weight: 300 !important;
    font-size: 1em;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: .5em;
    display: flex; }
    #portfolio-filters div::before {
      font-size: 1.5em;
      text-align: center;
      width: 100%;
      color: #233237; }
    #portfolio-filters div:hover, #portfolio-filters div.true {
      background: transparent;
      border-bottom: 1.5px solid #233237;
      cursor: pointer; }
    #portfolio-filters div .filter-label {
      font-family: "Cantarell" !important;
      font-weight: 400; }
  #portfolio-filters .toggle {
    width: auto !important; }

@media screen and (max-width: 800px) {
  #portfolio-filters {
    width: 100%; } }

/* SERVICES */
#services {
  padding: 3em 0; }
  #services #services li {
    list-style-type: none;
    line-height: 1.5em; }
    #services #services li::before {
      font: normal normal normal 14px/1 FontAwesome;
      content: '\f058';
      color: green; }
  #services .service {
    padding: 50px 25px;
    width: 25%; }
    #services .service div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  @media screen and (max-width: 800px) {
    #services #services-wrapper {
      display: flex;
      flex-direction: row; } }
  @media screen and (max-width: 700px) {
    #services #services-wrapper {
      flex-direction: column; }
      #services #services-wrapper .service {
        width: auto; } }

#contact form {
  width: 70%;
  padding: 4em 0;
  margin: 3em auto;
  max-width: 600px; }
  #contact form button {
    display: block;
    margin: 0 auto; }

#about {
  margin-top: 100px; }
  #about .about {
    margin: 0 auto;
    width: 50%;
    padding: 3em; }
    #about .about p {
      line-height: 3em; }
    #about .about img {
      margin: 0 1em;
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 500px; }
  @media screen and (max-width: 800px) {
    #about .about {
      width: 90%; } }

/* TESTIMONIALS */
#testimonials div {
  align-items: baseline; }

#testimonials blockquote {
  background: #f3f3f3;
  padding: 1em 2em;
  font-style: italic;
  border-radius: .5em;
  flex: 1; }

#testimonials cite {
  padding: .5em; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  font-family: 'Cantarell', sans-serif;
  width: 100vw; }

#root .App {
  margin: 0;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  line-height: 1.75; }

h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  text-align: left;
  font-size: 2.75em;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 5px; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

h1 {
  background: #fff;
  padding: .5em;
  margin: 1em 0; }

ul, li {
  margin-left: 0;
  padding-left: 0; }

a {
  color: white; }

p {
  margin: 0;
  padding: 0; }

.App > section > div:first-child {
  margin: 40px 0; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1em; }
  .card ul li {
    padding: .25em; }

.flex {
  display: flex; }

.flex-end {
  justify-content: flex-end !important; }

.flex-between {
  justify-content: space-between; }

.around, .flex-around {
  justify-content: space-around; }

.flex-1 {
  flex: 1; }

hr {
  margin: 2em 0; }

section .wrapper {
  padding: 0 2em; }

@media screen and (max-width: 800px) {
  body {
    font-size: 12px; }
  h1 {
    font-size: 1.75em;
    text-align: center;
    padding: .25em; } }
