


@import './variables.scss';
@import './animation.scss';
@import './fontello.scss';
@import '../components/header/header.scss';
@import '../components/gallery/gallery.scss';
@import '../components/gallery/project/project-modal.scss';
@import '../components/gallery/filters/portfolio-menu.scss';
@import '../components/services/services.scss';
@import '../components/contact/contact.scss';
@import '../components/about/about.scss';
@import '../components/testimonials/testimonials.scss';
@import '../components/timeline/timeline.scss';
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  width: 100vw;
  background-image:url('/images/bg.jpg');
  background-size: cover;
  background-position: center bottom;
  background-attachment:fixed;
  Font-Family: 'Open Sans', Sans-Serif;


}

#root .App {
  margin:0;
 
  line-height: 1.75;
}
 h1,h2, h3, h4, h5, h6 {
     color: $black;
  font-weight: 700;
  Font-Family: 'Ubuntu', Sans-Serif!important;


}
h1{
  display:flex;
  align-items:center;
  text-align:left; 
  font-size: 2.75em;  
  Font-Family: 'Open Sans', Sans-Serif;
  font-weight:800;
  background:#212124;
  color:white;

letter-spacing: 5px; 
  span{
    font-size:16px!important;
    margin-left:100px;
    Font-Family: 'Ubuntu', Sans-Serif;
    font-weight:300;
  }
}

h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1 {

    margin: 0em!important;
    padding: 1em!important;

}
ul, li {
  margin-left:0;
  padding-left:0;
  line-height: 3em;

}
a {
  color:white;
}
p {
  margin:0;
  padding:0;
  line-height: 3em;
}

.App > section > div:first-child{
    padding: 40px 0;
}
.App > section:first-of-type{
  padding: 100px 0!important;
}
.card {
  // z-index:1;
  // background:rgba(255,255,255, .9)!important;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
  text-align:center;
  padding: 1em;

  ul li {
    padding: .25em;
  }
}

.loading-spinner{
  color: $lightBlue;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.button, .ui.button{
  display: block;
  margin:0 auto;
  background: $lightBlue;
  color:white;

  &:hover{
    background:#1A5273;
  }
}

.flex {
  display: flex;
}
.flex-end {
  justify-content: flex-end!important;
}
.flex-between {
  justify-content: space-between;
}
.around, .flex-around {
  justify-content: space-around;
}
.flex-1{
  flex:1;
}


hr {
  margin: 2em 0;
}

section .wrapper {
  // padding: 2em 2em;
}
section{
    background:#fff;
    margin-bottom:50px;
    padding-bottom:15px;

  // background:#f2f5f7
}
section:nth-of-type(even){
  // background:#FAFAFA;

}
.ui.form .field>label{
  color:$lightGray;
}
@media screen and (max-width: 800px){
  body{
    font-size: 12px;
  }
  h1{
    font-size: 1.75em;
    text-align:center;
    padding:.25em;
  }
}
