$primary-color: #1D5372;
$secondary: #1C3738;
$tertiary: #8BAAAD;
$black: #212124;
$white: #fff;
$navy: #18121E;
$gunmetal: #26262a;
$red: #984B43;
$yellow: #EAC67A;
$lightGray: rgb(205,205,205);
$darkGray:#324343;
