@import '../../styles/variables.scss';

#about {
  .about{
    margin: 0 auto;
    width: 75%;
    // padding: 3em;
    display: flex;
    flex-direction: row;
    .about-text{
      text-align: left;
    }

    img {
      margin: 0 1.5em;
       width: 200px;
       height: 200px;
       object-fit:cover;
       border-radius: 500px;
    }
  }
  @media screen and (max-width:800px){

    .about {
      width:90%;
    }
  }
}
