#about {
  margin-top: 125px; }
  #about .about {
    margin: 0 auto;
    width: 50%; }
    #about .about .about-text {
      padding: 1em;
      display: flex;
      margin: 1em 0; }
      #about .about .about-text p {
        line-height: 3em; }
    #about .about img {
      margin: 0 1em;
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 500px; }
