#about {
  font-size: 16px;
  text-align: center; }
  #about .cta {
    background: #f8ffff;
    box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
    width: 75%;
    color: black;
    border-radius: 5px;
    margin: 25px auto;
    padding: 25px 0; }
    #about .cta h4 {
      color: #276f86;
      font-weight: 500; }
  #about .about {
    margin: 25px auto;
    display: flex;
    flex-direction: row; }
    #about .about .about-text {
      text-align: left;
      align-self: stretch;
      padding: 0 100px; }
    #about .about img {
      width: 300px;
      height: 400px;
      object-fit: cover; }
  @media screen and (max-width: 800px) {
    #about .about {
      width: 90%; } }
