#about {
  margin-top:100px;
  
.about{
  width: 75%;
  margin: 0 auto;
  div {
    align-items:flex-start;
    // margin: 0 15%;
    display:flex;
  }
  img {
    margin: 0 1em;
     width: 100px;
  }
}
  
}
