#about {
  margin-top: 100px; }
  #about .about {
    width: 75%;
    margin: 0 auto; }
    #about .about div {
      align-items: flex-start;
      display: flex; }
    #about .about img {
      margin: 0 1em;
      width: 100px; }
