/* 768px / 16px = 48em */
#about {
  text-align: center; }
  #about .about {
    display: flex;
    flex-direction: row; }
    #about .about .about-text {
      text-align: left;
      align-self: stretch; }
    #about .about img {
      width: 300px;
      height: 400px;
      object-fit: cover; }
  @media only screen and (max-width: 48em) {
    #about h1 {
      display: flex;
      flex-direction: column;
      text-align: center; }
      #about h1 span {
        margin-left: 0; }
    #about .card.about {
      width: 90%;
      flex-direction: column; }
      #about .card.about .about-text {
        padding: 0 10px; } }
