#contact {
    .form-container{
        width: 75%;
        margin:20px auto;
    }
  form {
    width: 70%;
    padding: 4em 0;
    margin:3em auto;
    max-width: 600px;
    
    button{
        display: block;
        margin:0 auto;
    }
  }

}
