@import '../../styles/variables.scss';

#contact {
  background: #FAFAFA;
  .ui.form .field > label{
    color:$gunmetal!important;
  }
  min-height:600px;
  h1{
    color: $white;
  }
  // background: $gunmetal;
    .form-container{
        width: 75%;
        margin:0px auto;
    }
  form {
    #placeholder{
      color:$gunmetal;
    }
    margin:100px auto;
    max-width: 500px;
    input, textarea{
      border-radius:0px;
      border:1px solid $gunmetal;
      color:$lightGray;
    }

 
  }

}
