#contact {
  background: #26262a; }
  #contact h1 {
    color: #fff; }
  #contact .form-container {
    width: 75%;
    margin: 0px auto; }
  #contact form {
    margin: 0 auto;
    max-width: 600px; }
    #contact form button {
      display: block;
      margin: 0 auto; }
