@import '../../styles/variables.scss';

#contact {

  h1{
    color: $white;
  }
  background: $gunmetal;
    .form-container{
        width: 75%;
        margin:0px auto;
    }
  form {
    // padding: 4em 0;
    margin:0 auto;
    max-width: 600px;

    button{
        display: block;
        margin:0 auto;
    }
  }

}
