.menu-item a {
  color: black;
  font-size: 18px;
  Font-Family: 'Ubuntu', Sans-Serif;
  font-weight: 300; }

.primary-header {
  display: flex;
  align-items: center; }
  .primary-header .secondary {
    margin: 0; }

.logo-container {
  margin-left: 15px;
  display: flex;
  align-items: center; }
  .logo-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #18121E;
    Font-Family: 'Ubuntu', Sans-Serif;
    font-weight: 800;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    background: #fff;
    padding: 0.25em;
    font-size: 1.25em;
    border-radius: 10em; }
    .logo-container .logo div {
      display: flex;
      flex-direction: column; }

.primary-nav {
  display: flex;
  align-items: center;
  height: auto;
  display: flex;
  justify-content: flex-end; }
  .primary-nav a {
    height: auto; }

@media screen and (max-width: 780px) {
  .pusher {
    width: 100vw; }
  .primary-header {
    flex-direction: column;
    display: block;
    padding: 5px 0; }
    .primary-header .hamburger {
      color: white;
      display: block;
      text-align: right;
      font-weight: 700;
      font-size: 1.5em; }
      .primary-header .hamburger:hover {
        cursor: pointer; }
    .primary-header .inner-wrapper {
      width: 100%;
      display: flex;
      align-items: center; }
      .primary-header .inner-wrapper .logo-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px; }
        .primary-header .inner-wrapper .logo-container .logo {
          flex: none; }
    .primary-header nav {
      padding-top: 0.95em;
      height: 0;
      overflow: hidden;
      transition: 0.5s all;
      background: black;
      width: 100%; }
      .primary-header nav ul {
        display: flex;
        flex-direction: column; }
        .primary-header nav ul a,
        .primary-header nav ul li {
          display: inline-block;
          width: 100%;
          font-size: 1em; }
          .primary-header nav ul a a.active,
          .primary-header nav ul li a.active {
            border: none; }
          .primary-header nav ul a a:hover,
          .primary-header nav ul li a:hover {
            border: none;
            color: #1A5273;
            background: #cdcdcd; }
      .primary-header nav.open {
        height: 20em; }
  header .hamburger i:after {
    font-size: 28px; }
  header .hamburger,
  header .logo {
    flex: 1; } }
