@import '../../styles/variables.scss';



.primary-header{
  display:flex;
  align-items:center;
  .logo-container{
    margin-left:15px;
    display:flex;
    flex:1;
    align-items:center;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      color: $navy;
      Font-Family: 'Ubuntu', Sans-Serif;
      font-weight:800;
      line-height:100%;
      text-align:left;
      text-transform: uppercase;
      background: $white;
      padding: 0.25em;
      font-size: 1.25em;
      border-radius: 10em;
  
      div {
          display: flex;
          flex-direction: column;
      }
  }
  }
    
  .menu-item{
    a{
      color:black;
      font-size:18px;
      Font-Family: 'Ubuntu', Sans-Serif;
      font-weight: 300;  
  }
  .secondary{
    margin:0;
    flex:1;
  }
}

.primary-nav{
  display:flex;
  align-items:center;
  height:auto;
  display:flex;
  justify-content: flex-end;
  a{
    height:auto;
  }
}
@media screen and (max-width: 780px) {
  .pusher{
    width:100vw;
  }
    .primary-header {
        flex-direction: column;
        display: block;
        padding: 5px 0;

        .hamburger {
            color: white;
            display: block;
            text-align: right;
            font-weight: 700;
            font-size: 1.5em;

            &:hover {
                cursor: pointer;
            }
        }

      

        .inner-wrapper {
            width: 100%;
            display: flex;
            align-items: center;

            .logo-container {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;
              padding: 0 20px;
              .logo {
                  flex: none;
              }
          }
        }

        nav {
            padding-top: 0.95em;
            height: 0;
            overflow: hidden;
            transition: 0.5s all;
            background: black;
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;

                a,
                li {
                    display: inline-block;
                    width: 100%;
                    font-size: 1em;
                    a{
                      &.active{
                        border:none;
                      }
                      &:hover{
                        border:none;
                        color:$cta;
                        background:$lightGray;
                      }
                    }
                }
            }

            &.open {
                height: 20em;
            }
        }
    }
    header .hamburger{
      i:after{font-size:28px;}
    }
    header .hamburger,
    header .logo {
        flex: 1;
    }
}
}
