.primary-header {
  align-items: center;
  justify-content: space-around;
  display: flex;
  position: fixed;
  height: 100px;
  top: 0;
  width: 100vw;
  max-width: 100%;
  z-index: 1;
  padding: 0.5em 1em;
  background: black !important;
  color: #fff;
  grid-area: header;
  text-transform: capitalize; }
  .primary-header .hamburger {
    display: none; }
  .primary-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #18121E;
    Font-Family: 'Ubuntu', Sans-Serif;
    font-weight: 800;
    line-height: 100%;
    lext-align: left;
    text-transform: uppercase;
    background: #fff;
    padding: 0.25em;
    font-size: 1.25em;
    border-radius: 10em; }
    .primary-header .logo div {
      display: flex;
      flex-direction: column; }
  .primary-header .inner-wrapper {
    flex: 1; }
  .primary-header nav {
    Font-Family: 'Open Sans', Sans-Serif;
    font-size: 1.10 em;
    font-weight: 400; }
  .primary-header nav ul {
    margin: 0;
    padding: 0; }
    .primary-header nav ul li {
      list-style-type: none;
      flex: 1;
      text-align: center;
      margin: 2px; }
      .primary-header nav ul li a {
        text-decoration: none;
        padding: 10px 2em;
        font-size: 1.25em;
        color: #fff;
        transition: 0.25s background; }
        .primary-header nav ul li a.active, .primary-header nav ul li a:hover {
          text-decoration: none;
          cursor: pointer;
          color: #fff;
          border-bottom: 2px solid #1D5372; }

@media screen and (max-width: 780px) {
  .primary-header {
    flex-direction: column;
    display: block;
    padding: 5px 0; }
    .primary-header .hamburger {
      color: white;
      display: block;
      text-align: right;
      font-weight: 700;
      font-size: 1.5em; }
      .primary-header .hamburger:hover {
        cursor: pointer; }
    .primary-header .inner-wrapper {
      width: 100%;
      display: flex;
      align-items: center; }
      .primary-header .inner-wrapper .logo-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px; }
        .primary-header .inner-wrapper .logo-container .logo {
          flex: none; }
    .primary-header nav {
      padding-top: 0.95em;
      height: 0;
      overflow: hidden;
      transition: 0.5s all;
      background: black;
      width: 100%; }
      .primary-header nav ul {
        display: flex;
        flex-direction: column; }
        .primary-header nav ul a,
        .primary-header nav ul li {
          display: inline-block;
          width: 100%;
          font-size: 1em; }
          .primary-header nav ul a a.active,
          .primary-header nav ul li a.active {
            border: none; }
          .primary-header nav ul a a:hover,
          .primary-header nav ul li a:hover {
            border: none;
            color: #1A5273;
            background: #cdcdcd; }
      .primary-header nav.open {
        height: 20em; }
  header .hamburger i:after {
    font-size: 28px; }
  header .hamburger,
  header .logo {
    flex: 1; } }
