@import '../../styles/variables.scss';

.header {
  align-items: center;
  justify-content: space-around;
  display: flex;
  position:fixed;
  height: 100px;
  top:0;
  width: 100%;
  z-index:1;
  padding: .5em 1em;
  background: $black!important;
  color:$white;
  grid-area:header;
  // border-bottom: 3px solid $gunmetal;

  .hamburger{display:none;}
  .logo {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 80px;
    height: 80px;
    color: $navy;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    background: $white;
    padding: 1em;
    font-size:1em;
    border-radius: 10em;
  }
  .inner-wrapper, header nav {
   flex: 1;
 }
   nav ul{
     margin:0;
     padding:0;

     li {
       list-style-type:none;
       flex: 1;
       text-align:center;
       margin:2px;

         a {
           text-decoration:none;
           padding: 10px 2em;
           border-radius: 2px;
           color: $white;
           transition: .25s background;

           &:hover, &.active {
             text-decoration: none;
             cursor:pointer;
             color: $white;
             background: $primary-color;
           }
         }
     }
   }
}


@media screen and (max-width: 780px){
header{
  flex-direction: column;
  display:block;
  .hamburger {
    color:$gunmetal;
    display:block;
    text-align: right;
    font-weight:700;
    font-size:1.5em;
    &:hover{cursor: pointer;}
  }
  .logo-container{
    display:flex;
    width:100%;
    align-items: center;
    justify-content:space-around;

    .logo{
      flex:none;
    }
  }
  .inner-wrapper{
    width:100%;
    display: flex;
    align-items:center;
  }
    nav{
    padding-top: .95em;
     height:0;
     overflow:hidden;
     transition: .5s all;
     background: $white;
     width: 100%;
     ul{
       display: flex;
       flex-direction: column;

       li, a {
         display:inline-block;
         width: 100%;
         font-size: 1.2em;
       }
     }

     &.open{
      height:15em;
    }
   }

}




  header .logo, header .hamburger{
    flex:1;
  }
}
