#portfolio-filters {
  font-weight: 300;
  width: 75%;
  margin: 0 auto;
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 0; }
  #portfolio-filters div {
    font-weight: 300 !important;
    font-size: 1em;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: .5em;
    display: flex; }
    #portfolio-filters div::before {
      font-size: 1.5em;
      text-align: center;
      width: 100%;
      color: #233237; }
    #portfolio-filters div:hover, #portfolio-filters div.true {
      background: transparent;
      border-bottom: 1.5px solid #233237;
      cursor: pointer; }
    #portfolio-filters div .filter-label {
      font-family: "Cantarell" !important;
      font-weight: 400; }
