@import '../../styles/variables.scss';

#portfolio-filters{
  font-weight:300;
  width: 75%;
  margin:0 auto;
  display: flex;

  height:100px;
  justify-content: space-around;
  align-items:baseline;
  margin: 2em auto;
  background: rgba(255,255,255,.3);
  padding:1em 0;

  span {
    font-weight:300!important;

    font-size: 1.25em;
    flex-direction:column;
    height: 100%;
    justify-content: center;
    padding: .5em;
    border-radius: .25em;
    display:flex;
    &.true{
      color: $white;
      background: $gunmetal;
    }
    &:hover{
      color: $white;
      cursor:pointer;

      &:before{
        color: $white;
      }
    }
    &::before{
      font-size: 1.5em;
      text-align:center;
      width:100%;
      color:$gunmetal;
    }


  }
}
