.vertical-timeline::before {
  background: #2185d0; }

.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  color: #1A5273;
  background: #1A5273 !important; }
  .vertical-timeline-element-icon i {
    font-size: 36px; }

.vertical-timeline-element:nth-of-type(even) .vertical-timeline-element-date {
  right: 135% !important; }

.vertical-timeline-element:nth-of-type(odd) .vertical-timeline-element-date {
  left: 135% !important; }

.vertical-timeline-element .vertical-timeline-element-date {
  top: -8px !important; }

.vertical-timeline-element-content.bounce-in span {
  Font-Family: 'Ubuntu', Sans-Serif;
  font-weight: 800;
  font-size: 18px !important; }
