.projectModal {
  color: #26262a;
  display: grid !important;
  grid-template-rows: repeat(3, minmax(50px, auto));
  grid-template-columns: 59% 39%;
  justify-content: space-between;
  font-size: 14px;
  grid-gap: 10px;
  background: #fff;
  grid-template-areas: "a a" "b c" "d d"; }
  .projectModal h2, .projectModal h3 {
    font-weight: 300; }
  .projectModal ul li,
  .projectModal p {
    line-height: 2em; }
  .projectModal a {
    color: #2185d0;
    font-style: normal;
    font-size: 12px; }
  .projectModal div {
    padding: 5px; }
  .projectModal .project-header {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .projectModal .project-header h2 {
      margin: 0;
      color: #1C3738; }
    .projectModal .project-header .project-icons {
      display: flex;
      justify-content: center; }
      .projectModal .project-header .project-icons i {
        color: #2185d0; }
      .projectModal .project-header .project-icons span {
        margin: 0 5px; }
      .projectModal .project-header .project-icons i {
        text-align: center; }
      .projectModal .project-header .project-icons > span {
        text-align: center; }
      .projectModal .project-header .project-icons span.tag-label {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: .65em;
        margin: 0 .25em; }
        .projectModal .project-header .project-icons span.tag-label:before {
          display: inline-block;
          width: 1.5em; }
        .projectModal .project-header .project-icons span.tag-label.tag-label {
          Font-Family: 'Open Sans', Sans-Serif;
          padding-top: 5px; }
  .projectModal .project-description {
    grid-area: b; }
    .projectModal .project-description .project-images {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .projectModal .project-description .project-images img {
        width: 100px;
        height: 100px;
        margin: 5px 15px;
        object-fit: cover; }
  .projectModal .project-visit {
    font-size: 16px;
    margin: 25px auto;
    grid-area: d;
    text-align: center;
    width: 100%; }
    .projectModal .project-visit a {
      font-size: 12px; }

.project-specifics {
  position: relative;
  text-align: right;
  padding: 25px !important;
  grid-area: c;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(205, 205, 205, 0.2); }
  .project-specifics ul li {
    font-weight: 300;
    list-style: none;
    direction: rtl;
    list-style-position: inside;
    list-style-position: unset !important; }
    .project-specifics ul li i {
      color: #2185d0;
      position: absolute;
      right: 0px; }

.dialog > div > div > div, .dialog > div {
  overflow-y: scroll !important; }

.dialog > div > div > div > div {
  min-height: 80vh;
  max-height: none !important; }

@media screen and (max-width: 800px) {
  .projectModal {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "a"  "b" "c"  "d"; }
    .projectModal .project-overview {
      order: 2; }
    .projectModal .project-description {
      order: 1; } }
