.projectModal {
  display: grid !important;
  grid-template-rows: repeat(3, minmax(50px, auto));
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  grid-gap: 10px;
  background: #fff;
  grid-template-areas: "a a" "b c" "d d"; }
  .projectModal div {
    padding: 5px; }
  .projectModal .project-header {
    background-color: #233237;
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .projectModal .project-header h2 {
      margin: 0;
      color: #1C3738; }
    .projectModal .project-header .project-icons {
      display: flex;
      justify-content: center;
      color: gray; }
      .projectModal .project-header .project-icons span {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: .65em;
        margin: 0 .25em; }
        .projectModal .project-header .project-icons span:before {
          display: inline-block;
          width: 1.5em; }
  .projectModal .project-description {
    grid-area: b; }
    .projectModal .project-description .project-images {
      display: flex;
      flex-wrap: wrap; }
      .projectModal .project-description .project-images img {
        width: 100px;
        height: 100px;
        margin: 5px;
        object-fit: cover; }
  .projectModal .project-details {
    grid-area: c; }
  .projectModal .project-visit {
    margin: 0 auto;
    grid-area: d;
    text-align: center;
    width: 100%;
    background: #f3f3f3; }

.project-details li {
  padding: .4em .25em; }

.project-details li:nth-of-type(even) {
  background: rgba(24, 18, 30, 0.1); }

@media screen and (max-width: 800px) {
  .modal .project-overview {
    order: 2; }
  .modal .project-description {
    order: 1; }
  .modal .description .flex {
    flex-wrap: wrap;
    flex-direction: column; }
  .modal .description section:first-of-type {
    flex-direction: row;
    width: 100%; }
    .modal .description section:first-of-type div {
      flex: 1; }
  .modal .description section:last-of-type {
    width: 100%; } }
