@import '../../styles/variables.scss';

/* TESTIMONIALS */
#testimonials {
  color:$darkGray;
  font-size: 1.15em;

  img.avatar{
    border-radius:100px;
  }
  .slick-slider{
    width:50%;
    margin:50px auto;
    blockquote {
      padding: 1em 2em;
      font-style: italic;
      border-radius: .5em;
      font-weight: normal;
      flex: 1;
      text-align:center;
      
      footer{
        margin:25px 0;
        display:flex;
        align-items:center;
        img{
          max-width:75px;
          max-height:75px;
        }
      }
      i{
        font-size: 150%;
        padding-right: 3px;
        color:$lightGray;
      }


      // p{
      //   line-height:1.55em!important;
      // }
      // div {
      //   align-items: baseline;
      // }
    
    
      blockquote::first-letter{
        font-size: 150%;
      }

      footer{
        justify-content:center;
        cite {
          font-style: normal;
          font-weight:bold;
          padding: 1em;
          display: inline-block;
        }
        cite::before{
          content:"- ";
        }
      }
  
    }
  }

}