@import '../../styles/variables.scss';

/* TESTIMONIALS */
#testimonials {
  color:$darkGray;
  font-size: 1.15em;


p{
  line-height:1.55em!important;
}
div {
  align-items: baseline;
}
 blockquote {
   footer{
     display:flex;
     align-items:center;
     img{
      max-width:75px;
      max-height:75px;
    }
   }
   i{
    font-size: 150%;
    padding-right: 3px;
    color:$lightGray;
   }
  padding: 1em 2em;
  font-style: italic;
  border-radius: .5em;
  font-weight: normal;
  flex: 1;
}

blockquote::first-letter{
  font-size: 150%;
}
 cite {
   font-style: normal;
   font-weight:bold;
  padding: 1em;
  display: inline-block;
}
cite::before{
  content:"- ";
}
}