@import '../../../styles/variables.scss';
#portfolio-menu {
  font-weight: 300;
  width: 100%;
  padding: 0 .25em;
  display: flex;

  height: 60px;
  justify-content: space-around;
  align-items: center;
  margin: 3em auto;
  padding: .1em 0;

  .filter-preset, .filters{
    margin-bottom:0;
    margin-top:0;
      font-family: "Cantarell" !important;
      i{
        margin-right:5px;
      }
    .active{
      background: $lightBlue;
      color: $white
    }
  }
 
  
  .toggle {
    width: auto !important;
  }
}

@media screen and (max-width:800px) {
  #portfolio-menu {
    width: 100%;
    height:auto;
    .menu{
      flex-direction:column;
    }
    .filters{
      flex-wrap:wrap;

      button{flex:1}
    }
  }
}